.main-content{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    &__searchbox{
        width: 36rem;
        height: 3rem;
        border: 1px solid $color-grey-light1;
        background-color: white;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 30px;
        padding: 1rem;
        transform: translateY(.6rem);
        &:hover {
            box-shadow: 0 .1rem .35rem $color-grey-light1;
        }
        &:focus-within{
            box-shadow: 0 .1rem .35rem $color-grey-light1;
        }
        &__searchbar{
            flex: 1;
            outline: none;
            border: none;
            font-size: 1rem;
            &:focus{
                outline: none;
            }
        }
        .fa-search{
            font-size: .9rem;
            color: $color-grey-dark2;
            z-index: 100;
        }
        .fa-microphone-alt {
            font-size: .9rem;
            color: $color-grey-dark2;
            z-index: 100;
        }
    }

    &__logo{
        width: 17rem;

    }
    
    &__buttons{
        display: flex;
        box-sizing: border-box;
        margin-top: 2rem;
        &-1{
            padding: .6rem 1rem;
            border: none;
            border-radius: .2rem;
            margin: 0 .3rem;
            background-color: $color-grey-light2;
            color: $color-grey-dark1;
            font-size: .9rem;
            &:focus{
                outline: none;
            }
            &:hover{
                outline: 1px solid $color-grey-light3;
                background-color: $color-grey-light6;
                box-shadow: 0px 2px 7px 0px $color-grey-light7;            
            }
        }
    }
    &__text{
        font-size: .80rem;
        transform: translateY(-.5rem);
    &-2{
        margin: 0 .2rem;
        text-decoration: none; 
        color: $color-black;             
        &:hover{
            text-decoration: underline;
        }
    }
}

}