.small-margin{
    margin: 1.2rem;
}

@mixin link_reset {
    &:link,
    &:visited{
        text-decoration: none;
        color:$color-grey-dark1;
        font-size: .88rem;
    }
}

/*
small phone => 0 -- 400 => 25em
phone => 0 -- 600px => 37.5em
tab-port => 600px -- 900px => 56.25em
tab-land => 900px -- 1200px => 75em
[1200px -- 1800px] => is where our normal styles apply
+1800px => big desktop => 112.5em
*/

@mixin responsive($breakpoint){
    @if $breakpoint == small-phone { 
        @media (max-width: 25em) {@content};
    }
    @if $breakpoint == phone { 
        @media (max-width: 46.875em) {@content};
    }
    @if $breakpoint == tab-port { 
        @media (min-width: 37.5em) and (max-width: 56.25em) {@content};
    }
    @if $breakpoint == tab-land { 
        @media (min-width: 56.25) and (max-width: 75em) {@content};
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content};
    }
}